<h1>INSCRIPTION SSUR LE SITE ZARAO</h1>

<% if @type %>
	<%= link_to "confirmer votre compte", confirm_userjob_url(id: @user.id, token: @user.confirmation_token) %>
<% else %>
	<%= link_to "confirmer votre compte", confirm_userservice_url(id: @user.id, token: @user.confirmation_token) %>
<% end %>

<p>Merci!!!</p>