<div class="unit-5 overlay" style="background-image: url('images/Fond.jpeg');">
      <div class="container text-center">
        <h2 class="mb-0">A propos</h2>
        <p class="mb-0 unit-6"><a href="<%= root_path %>">Accueil</a> <span class="sep">></span> <span>A propos</span></p>
      </div>
</div>

<div class="site-section bg-light">
<div class="container element-animate">
      <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center section-heading">
            <h2 class="text-primary heading">L'équipe</h2>
            <br><br><br>
            <p>Une équipe de jeune talent malgache qui vous propose des idées innovantes, et qui veulent apporter leurs vision du "changement" dans le monde du digital .</p>
          </div>
        </div>
      <div class="row">
        <div class="col-md-5 col-lg-3">
          <div class="block-2">
            <div class="flipper">
              <div class="front" style="background-image: url(images/John.JPG);">
                <div class="box">
                  <h2>John</h2>
                  <p>Project chief & Developpeur Front-end</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Conscient de la complémentarité de mes études de communication et le développement, je suis prêt à toujours me surpasser pour mes propres convictions ainsi que pour me prouver que l'effort et la persévérance est la clé de la réussite!&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/John.JPG" alt="">
                  </div>
                  <div class="name align-self-center"> <span class="position">Developpeur Front-end</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>

        <div class="col-md-5 col-lg-3">
          <div class="block-2 ">
            <div class="flipper">
              <div class="front" style="background-image: url(images/Andy.JPG);">
                <div class="box">
                  <h2>Andy</h2>
                  <p>Developpeur Front-end</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;<br><br><br>N'abandonne pas si vite, car la réussite n'aime pas du tout ça...&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/Andy.JPG" alt="">
                  </div>
                  <div class="name align-self-center"> <span class="position">Developpeur Front-end</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>

        <div class="col-md-5 col-lg-3">
          <div class="block-2 ">
            <div class="flipper">
              <div class="front" style="background-image: url(images/Sitraka.jpg);">
                <div class="box">
                  <h2>Sitraka</h2>
                  <p>Developpeur Back-end</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Etant une personne passionné par le code, j'aime la satisfaction d'un travail bien fait et j'aime tester de nouvelles notions. je suis prêt à travailler dans une entreprise et je suis prêt pour donner le meilleur de moi-même&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/Sitraka.jpg" alt="">
                  </div>
                  <div class="name align-self-center"> <span class="position">Developpeur Back-end</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>

        <div class="col-md-5 col-lg-3">
          <div class="block-2">
            <div class="flipper">
              <div class="front" style="background-image: url(images/Tolotra.jpg);">
                <div class="box">
                  <h2>Tolotra</h2>
                  <p>Developpeur Full-stack</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Passionnée par l'informatique, je ne cesse de m'informer de tous ce qui se passe dans ce secteur, qui ne cessera jamais d’évoluer, ce qui me pousse à toujours apprendre, et à etre passion dans tout ce que je fais.&rdquo;</p>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <img src="images/Tolotra.jpg" alt="">
                  </div>
                  <div class="name align-self-center"> <span class="position">Developpeur Full-stack</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>
      </div>
    </div>
</div>
    <!-- END .block-2 -->


<div class="site-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6" data-aos="fade" >
            <h2>Questions-Réponses</h2>
          </div>
        </div>
        

        <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
          <div class="col-md-8">
            <div class="accordion unit-8" id="accordion">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">Pourquoi "ZARAO" ?<span class="icon"></span></a>
              </h3>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Nous avons choisi "ZARAO" comme nom de notre site tout simplement parce que le site à pour but principal de partager et promouvoir le talent que possède le peuple malgache, les aider à sortir de la pauvreté en fesant connaître leurs oeuvres dans le monde pour les mettres en relation avec des personnes qui pouraient les aider.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
            
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">Quel est le tarif moyen proposer par le site ?<span class="icon"></span></a>
              </h3>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Vu qu'il y a plusieurs catégories qui sont différents les uns des autres, le tarif varie énormément. <br>Mais que ce soit journalier, mensuel ou contractuel, nous garantissons que le tarif proposé par les inscrits seront négociable !</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Dois-je m'inscrire pour proposer partager mon talent ?  <span class="icon"></span></a>
              </h3>
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Pour les jeunes qui veulent offrir leurs services, l'inscriptions est obligatoire car il y aura une vérification pour l'authenticité de votre dire, afin de ne pas polluer le site de personnes indésirables!</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Qui pourrais-je contacter en cas de problème ?<span class="icon"></span></a>
              </h3>
              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Dans l'onglet "CONTACT", vous pouvez nous ecrire ainsi que nous appeler en cas de problème, nous sommes aussi ouvert à toutes proposition d'amélioration ou tout simplement de critique ! <br>Nous avons hâte de connaître vos avis :) !</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

          </div>
          </div>
        </div>
      
      </div>
    </div>